<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Trip Photos

    <a data-toggle="collapse" href="#trip_trip_photos_new_form">
      Add trip photo
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @trip.trip_photos.each do |trip_photo| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to trip_photo, trip_photo %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to trip_photo, method: :delete, data: { confirm: "Do you really want to delete this trip_photo" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="trip_trip_photos_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "trips/trip_trip_photos_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
