<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sights

    <a data-toggle="collapse" href="#trip_sights_new_form">
      Add sight
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @trip.sights.each do |sight| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to sight, sight %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to sight, method: :delete, data: { confirm: "Do you really want to delete this sight" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="trip_sights_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
