<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Travelled Trips

    <a data-toggle="collapse" href="#user_travelled_trips_new_form">
      Add traveler
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.travelled_trips.each do |traveler| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to traveler, traveler %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_travelled_trips_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
